@import "node_modules/bootstrap/scss/bootstrap";

div.simple {
  background-color: red;
  width: 500px;
  height: 100px;
  text-align: center;

  &:hover {
    background-color: green;

    > .inner-div {
      background: orange;
    }
  }

  > .inner-div {
    background: yellow;
  }
}
